* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9fafb;
  color: #111;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: #111;
  color: #fff;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav a:hover {
  color: #38bdf8;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #111, #1f2933);
  color: white;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 12px 28px;
  background: #38bdf8;
  color: #111;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

/* Sections */
.section {
  padding: 60px 80px;
  text-align: center;
}

.dark {
  background: #111;
  color: white;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.skills span {
  background: #38bdf8;
  color: #111;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 500;
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #38bdf8;
  font-weight: 600;
}

/* Contact */
.links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.links a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: 600;
}

/* Footer */
footer {
  padding: 15px;
  text-align: center;
  background: #000;
  color: white;
}